
.footer{
    
    background-color: rgb(27, 27, 51);
    margin-bottom: 0 !important;
    padding: 8vh 0;
    color: rgb(225, 224, 224);
}

.footer_div h2{
    margin-bottom: 2vh;
}

.Body4_card-grid {
    margin: 0 5vw;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 3vw; /* Gap between cards */
}


.sent_email input,button{
    margin-top: 20px;
    padding: 10px;
}
.sent_email input{
    margin-right: -5px;
}