
.Body3_card-grid {
    margin: 0 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 5vw; /* Gap between cards */
}

.Body3_div {
    margin-top: 5vh;
    /* background-color: #5c5c5c; */
    background-color: rgb(229, 229, 229);
    /* padding: 40px; */
    border-radius: 10px;
    text-align: start;
    height: 50vh;
}
.Body3_div h2{
    text-align: center;
    padding: 2vh 0;
    color: rgb(66, 66, 66);
    /* border-bottom: 2px solid rgb(197, 194, 194); */
}
.pro{
    background-color: rgb(86, 85, 85) !important;
}
.pl{
    text-align: center;
    padding: 2vh 0;
    color: rgb(66, 66, 66);
    border-bottom: 2px solid rgb(197, 194, 194);
}
.bold{
    font-weight: bold !important;
    color: black;
}

.Body3_div h2{
    background-color: black;
    color: white;
}
.Body3_div .button{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 11.7vh;
}

.body3 {
    margin: 5vh 0;
}

.body3 h1,h4{
    text-align: center;
}

.Signup{
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(9, 152, 152);
    transition: .3s ease-in-out;
}
.Signup:hover{
  
  background-color: rgb(243, 78, 23);
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: 1vw;
}